<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="robots" content="noindex">
<title>Coming Soon</title>
</head>
<body>
<p style="color:#CCC; margin:4em auto; text-align:center; font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 
  Helvetica, Arial, 'Lucida Grande', sans-serif; font-size:3.5em; text-shadow:0 -1px 0 rgba(0,0,0,0.3);">
Coming Soon
</p>
</body>
</html>
