<% include inc/top.ejs %>
<% include inc/featured.ejs %>
<div class="nycg-main nycg-bottom">
    <article class="nycg-layout nycg-layout-73-27 nycg-latest-events">
        <section class="nycg-col nycg-col-1 nycg-listing">
            <h2><span>All Events</span></h2>
            <div class="nycg-widget">
                <ul class="dropdown" id="dropdown-sort">
                    <li class="expander">
                        <p>SORT BY: <span>Most recently added</span></p>
                        <span><i class="ss-icon">navigatedown</i></span>
                        <ul class="inactive">
                            <li>Most recently added</li>
                            <li>Ending soon</li>
                            <li class="nycg-zip-sort">Zip code
                                <form>
                                    <input type="text" value="">
                                    <a href="#" class="nycg-btn">go</a>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <% include inc/latest-events.ejs %>
        </section>
<% if (typeof artCalls !== 'undefined' && artCalls != false) { %>
        <aside class="nycg-col nycg-col-2 nycg-entry-calls">
            <h2 class="nycg-emphasis-dk">Calls for Entry</h2>
            <ul class="nycg-emphasis-dk">
    <% for(var i=0; i < artCalls.length; i++) {%>
                <li>
                    <h4><%= artCalls[i].title %></h4>
                    <p><%- artCalls[i].venueName %></p>
                    <strong>DEADLINE: <time><%= artCalls[i].deadline %></time></strong>
                    <a href="<%= artCalls[i].link %>" class="nycg-btn" target="_blank">Visit Site to Submit</a>
                </li>
    <% } %>
            </ul>
        </aside>
<% } %>
    </article>
    <% include inc/footer.ejs %>
</div>
<% include inc/bottom.ejs %>