<% include inc/top.ejs %>
<% include inc/featured.ejs %>
<div class="nycg-main nycg-bottom">
    <article class="nycg-layout nycg-layout-20 nycg-latest-events">
        <h2><span>Latest Events / <a href="/events">All Events</a></span></h2>
        <% include inc/latest-events.ejs %>
    </article>
    <% include inc/highlight.ejs %>
    <article class="nycg-layout nycg-layout-20 nycg-latest-artists">
        <h2><span>Featured Artists / <a href="/artists">All Artists</a></span></h2>
        <% include inc/featured-artists.ejs %>
    </article>
    <% include inc/footer.ejs %>
</div>
<% include inc/bottom.ejs %>