<% include inc/top.ejs %>
<div class="nycg-main nycg-middle nycg-emphasis">
    <h1><% if (typeof pageHeader !== 'undefined') { %><%= pageHeader %><% } %></h1>
</div>
<div class="nycg-main nycg-bottom">
    <article class="nycg-layout nycg-layout-50">
        <section class="nycg-col nycg-col-1">
            <% include forms/login.ejs %>
        </section>
        <section class="nycg-col nycg-col-2">
            <% include forms/register.ejs %>
        </section>
    </article>
    <% include inc/footer.ejs %>
</div>
<% include inc/bottom.ejs %>