<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"  xmlns:media="http://search.yahoo.com/mrss/">
	<channel>
		<title>NYCG RSS Feeds</title>
		<description>A list of NYCG RSS feeds.</description>
		<link>http://www.nyc.gallery</link>
		<image>
			<title>NYCG RSS Feeds</title>
			<url>http://nyc.gallery/images/logo-fb.png</url>
			<link>http://www.nyc.gallery</link>
		</image>
		<item>
			<title>
			<![CDATA[
				Recent Art on NYCG
			]]>
			</title>
			<link>
			<![CDATA[
				http://www.nyc.gallery/rss/art
			]]>
			</link>
			<description>
			<![CDATA[
				Recent Artwork uploaded to NYCG.
			]]>
			</description>
		</item>
		<item>
			<title>
			<![CDATA[
				Recent Artists on NYCG
			]]>
			</title>
			<link>
			<![CDATA[
				http://www.nyc.gallery/rss/artists
			]]>
			</link>
			<description>
			<![CDATA[
				Recently joined artists on NYCG.
			]]>
			</description>
		</item>
		<item>
			<title>
			<![CDATA[
				Recent Venues and Organizations on NYCG
			]]>
			</title>
			<link>
			<![CDATA[
				http://www.nyc.gallery/rss/venues
			]]>
			</link>
			<description>
			<![CDATA[
				Recently joined venues and organizations on NYCG.
			]]>
			</description>
		</item>
		<item>
			<title>
			<![CDATA[
				Recent Events on NYCG
			]]>
			</title>
			<link>
			<![CDATA[
				http://www.nyc.gallery/rss/events
			]]>
			</link>
			<description>
			<![CDATA[
				Recent evenst listed on NYCG.
			]]>
			</description>
		</item>
		<item>
			<title>
			<![CDATA[
				Recent Call to Artists on NYCG
			]]>
			</title>
			<link>
			<![CDATA[
				http://www.nyc.gallery/rss/call
			]]>
			</link>
			<description>
			<![CDATA[
				Recent call to artists listed on NYCG.
			]]>
			</description>
		</item>
	</channel>
</rss>