<% include inc/top.ejs %>
<style>
.nycg-main > nav,
.nycg-main > header,
.nycg-main > footer,
#nycg-search { display:none; }
</style>
<div class="nycg-main nycg-bottom nycg-layout">
<script src="/js/libs/ckeditor/ckeditor.js"></script>
<form action="/artist-detail-edit" method="post" class="form-artist-detail-edit">
    <div class="nycg-layout nycg-layout-33-66">
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-name">Display Name <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="display_name" id="nycg-input-name" autocomplete="off" value="">
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-link">Website Link</label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="website_link" id="nycg-input-link" autocomplete="off" value="">
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-hours">Hours</label>
        </div>
        <div class="nycg-col nycg-col-2">
            <textarea name="hours" id="nycg-input-hours"></textarea>
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-heading-paragraph">Heading Paragraph</label>
        </div>
        <div class="nycg-col nycg-col-2">
            <textarea name="heading_paragraph" id="nycg-input-heading-paragraph"></textarea>
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-body">Body Text</label>
        </div>
        <div class="nycg-col nycg-col-2">
            <textarea name="body_text" id="nycg-input-body" class="ckeditor"></textarea>
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-upload">Profile Image</label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="file" name="profile_img" class="nycg-btn-file" id="nycg-input-upload" >
        </div>
        <!- /row -->
    </div>
    <button type="submit" class="nycg-btn" id="nycg-edit-submit">Save</button>
</form>
    <% include inc/footer.ejs %>
</div>
<% include inc/bottom.ejs %>