<% include inc/top.ejs %>
<div class="nycg-main nycg-bottom">
    <article class="nycg-layout nycg-layout-50 nycg-listing">
        <h2><span>All Venues</span></h2>
        <% include inc/list-venues.ejs %>
    </article>
    <% include inc/footer.ejs %>
</div>
<% include inc/bottom.ejs %>