    <% if (env != 'production') { %>
    <script data-main="/js/main-dev" src="/js/libs/require/require.js"></script>
    <% } else { %>
    <script data-main="/js/main" src="/js/libs/require/require.js"></script>
    <% } %>
</body>
</html>