<footer>
    <p>&copy; NYCG, 2014. All rights reserved.</p>
    <section class="nycg-social">
        <a href="#" class="ss-icon ss-social-regular">facebook</a>
        <a href="#" class="ss-icon ss-social-regular">google+</a>
        <a href="/feeds" class="ss-icon ss-social-regular">rss</a>
    </section>
</footer>