<article class="nycg-highlight nycg-emphasis-dk">
    <h3>OPEN CALL FOR LANDSCAPES & SOLO SHOW IN NYC</h3>
    <h4>DACIA GALLERY | <time>MARCH 13, 2014</time> DEADLINE</h4>
    <div>
        <a href="#" class="nycg-btn" target="_blank">View Call for Entry</a>
        <a href="#" class="nycg-btn">All Calls For Entry</a>
    </div>
</article>