<form action="/artist-detail-image-add" method="post" class="form-artist-detail-image-add" enctype="multipart/form-data">
    <div class="nycg-layout nycg-layout-33-66">
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-upload">Select File</label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="file" name="upload_img" class="nycg-btn-file" id="nycg-input-upload" >
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-title">Title <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="title" id="nycg-input-title" autocomplete="off" value="">
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-title">Medium</label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="medium" id="nycg-input-medium" autocomplete="off" value="">
        </div>
        <!- /row -->
    </div>
    <button type="submit" class="nycg-btn" id="nycg-img-submit">Upload</button>
</form>