<form action="/contact" method="post" class="form-contact">
    <h2><span>Contact</span></h2>
    <div class="nycg-layout nycg-layout-33-66">
        <div class="nycg-col nycg-col-1">
            <p>Have a question or a suggestion? Use the form to send us a note!</p>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="name" id="nycg-name" autocomplete="off" placeholder="Name">
            <input type="text" name="email" id="nycg-email" autocomplete="off" placeholder="Email Address">
            <textarea name="msg">Message</textarea>
        </div>
        <!- /row -->
    </div>
    <button type="submit" class="nycg-btn" id="nycg-login-submit">Send</button>
</form>