<form action="/register" method="post">
    <h2><span>Register</span></h2>
    <div class="nycg-layout nycg-layout-33-66">
        <div class="nycg-col nycg-col-1">
            <label for="register-email">Email Address <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="email" id="register-email" autocomplete="off" value="">
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="register-password">Password <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="password" name="password" id="register-password" autocomplete="off" value="">
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="confirm-password">Confirm Password <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="password" name="confirm_password" id="confirm-password" autocomplete="off" value="">
        </div>
        <!- /row -->
    </div>
    <button type="submit" class="nycg-btn">Register</button>
</form>