<%
if (user) {
%>
<form action="/venue-detail-call-add" method="post" class="form-venue-detail-call-add">
    <div class="nycg-layout nycg-layout-33-66">
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-title">Call to Artists Title <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="title" id="nycg-input-title" autocomplete="off" value="">
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label>Deadline <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2 nycg-col-dates">
            <a href="#" class="nycg-date"><a href="#" class="nycg-date"><i class="ss-icon">date</i></a>
            <input type="hidden" name="date_deadline" value="2014-04-05">
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-venue">Venue / Organization Name <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="venue_name" id="nycg-input-venue" autocomplete="off" value="<%= user.displayName %>">
        </div>
        <!- /row -->
        <div class="nycg-col nycg-col-1">
            <label for="nycg-input-link">Info link <sup>*</sup></label>
        </div>
        <div class="nycg-col nycg-col-2">
            <input type="text" name="link" id="nycg-input-link" autocomplete="off" value="">
        </div>
        <!- /row -->
    </div>
    <button type="submit" class="nycg-btn" id="nycg-edit-submit">Add Call to Artists</button>
</form>
<% } %>